        <div id="slider">
        	<div id="s1">
                <div id="tagline">
                    Giving is better, together.
                </div>
        	</div>
            <div id="s2" style="display:none;">
            	<img src="images/charity_logos.png" style="margin-top:60px;" />
                <div id="subline">
                    Put all your charities in one portfolio.
                </div>
            </div>
            <div id="s3" style="display:none;">
            	<img src="images/charity_logos.png" style="margin-top:60px;" />
                <div id="subline">
                    Put all your charities in one portfolio.<br />
                    <i>Coming soon!</i>
                </div>
            </div>
        </div>
        
        <div id="causes">
            <table>
            	<tr>
                	<td colspan="3">
        <!--                <form action="http://501k.org/#" method="post" onsubmit="return validateForm()"> 
                        	<i>interested in learning more? share your email with us</i><br />
                            <input type="text" name="email" id="email" value="" onclick="javascript:this.select()"> 
                            <input type="submit" value="Subscribe" id="subscribe" name="subscribe"> 
                        </form> -->
                        


                        <!-- Begin MailChimp Signup Form -->
<script type="text/javascript">
// delete this script tag and use a "div.mce_inline_error{ XXX !important}" selector
// or fill this in and it will be inlined when errors are generated
var mc_custom_error_style = '';
</script>
<div id="mc_embed_signup">
<form action="http://501k.us2.list-manage.com/subscribe/post?u=3beb0c02a1abf8f6b1c605b14&amp;id=bafca9baea" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
<i>interested in learning more? share your email with us</i><br />	
<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
		<div id="mce-responses">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>

</form>
</div>

<!--End mc_embed_signup-->
                        
                    </td>
                </tr>
            	<tr>
                	<th width="35%">
                    	<div class="segment">Leading Charity Portfolios</div>
                    	<div class="cause">
                        	<a href="#">
                            <div class="caption">
                                <b>Education</b><span> &raquo; Coming Soon!</span>
                                
                            </div>
                        	<img height="140px" width="295px" src="images/school_image.png" />
                            </a>
                        </div>
                    	<div class="cause">
                        	<a href="#">
                            <div class="caption">
                                <b>Water</b><span> &raquo; Coming Soon!</span>
                                
                            </div>
                        	<img height="140px" width="295px" src="images/ethiopia_charity_water.png" />
                            </a>
                        </div>
                    </th>
                	<th width="35%">
                    	<div class="segment">Local Charity Portfolios</div>
                    	<div class="cause">
                        	<a href="#">
                            <div class="caption">
                                <b>Disaster Relief</b><span> &raquo; Coming Soon!</span>
                                
                            </div>
                        	<img height="140px" width="295px" src="images/disaster_relief.png" />
                            </a>
                        </div>
                    	<div class="cause">
                        	<a href="#">
                            <div class="caption">
                                <b>Entrepreneurship</b><span> &raquo; Coming Soon!</span>
                                
                            </div>
                        	<img height="140px" width="295px" src="images/kiva_entrepreneur.png" />
                            </a>
                        </div>
                    </th>
                	<th width="30%">
                    	<div class="mission">
                            <div class="segment">Our Mission</div>
                            <div class="caption">
                                Giving is better together.  And our mission at 501k is to make giving easier, simpler and focused on giving to all of the charities you care about.  We make it easy to build a portfolio of charities, share that portfolio with friends and make small, repeatable donations with a single click of the button.  Together we can inspire and empower one another to make a difference one portfolio at a time.
                            </div>
                            <div class="more">
                            	<a href=""><i>learn more...</i></a>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
        </div>