@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #E0E0E0;
	font: 12px Arial, Helvetica, sans-serif;
	color: #7d7979;
}

h1 {
	margin: 20px 0px 15px 0px;
	padding: 0px 0px 0px 35px;
	letter-spacing: -1px;
	font-size: 22px;
	color: #535353;
}

h2 {
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 35px;
	letter-spacing: -1px;
	font-size: 18px;
	color: #878787;
}

h3 {
	margin: 0px 0px 0px 0px;
	font-size: 12px;
}

p, ol, ul {
	margin-top: 0px;
	margin-bottom: 1.5em;
	padding: 0px 35px 0px 35px;
	line-height: 1.8;
	text-align: justify;
}

.container {
	width: 960px;
	margin: 0px auto;
}


.clearfix {
	clear: both;	
}

/** LOGIN */
#login {
	float: right;
	padding: 5px 10px 0px 0px;
}

/** HEADER */

#header {
	height: 80px;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}

#logo img {
	background-color: blue;
	margin: 10px;
}

/** MENU */

#menu {
	height: 42px;
	margin-bottom: 10px;;
	border: 1px solid black;
	background-color: white;
}

#menu ul {
	margin: 0px;
	padding: 10px 0px 0px 85px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	height: 30px;
	margin: 0px 20px 0px 0px;
	padding: 0px 1px 0px 0px;
}

#menu a {
	float: left;
	height: 26px;
	padding: 4px 14px 0px 15px;
	letter-spacing: -1px;
	text-decoration: none;
	/* text-transform: lowercase; */
	font-size: 16px;
	color: #535353;
}

#menu a:hover {
	color: #7FB442
}

#menu li.active {
}

#menu li.active a {
	color: #7FB442;
}

/** CONTENT */
#content {
	border: 1px solid black;
	background-color: white;;
}

/** FOOTER_MENU */
#footer_menu {
	clear: both;
}

#footer_menu ul {
	margin: 0px;
	padding: 16px 0px 0px 30px;
	list-style: none;
	line-height: normal;
}

#footer_menu li {
	float: left;
	height: 30px;
	margin: 0px 30px 0px 0px;
	padding: 0px 1px 0px 0px;
}

#footer_menu a {
	float: left;
	height: 26px;
	padding: 4px 14px 0px 15px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 14px;
	color: #535353;
}

#footer_menu a:hover {
	color: #FFFFFF
}

#footer_menu li.active {
	/* background: url(images/bg1_01.gif) no-repeat right top; */
}

#footer_menu li.active a {
	/* background: url(images/bg1_01.gif) no-repeat right top; */
	color: #FFFFFF;
}